
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Black Ops One', cursive

body
  margin: 0 auto

.wrapper
  position: relative
  height: 100vh
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%)
  font-size: 14px

$dark-purple: #4f4d5d

header
  position: relative
  margin: 0 auto
  top: 14%
  width: 100%
  & h1
    position: relative
    font-weight: 900
    color: #fff
    font-size: 4.8rem
    position: relative

    & span
      display: flex
      flex-direction: row
      justify-content:space-between
      padding-left: 19%
      margin-top: -10px
      letter-spacing: 10px

    & span:last-child
      padding-bottom: -10px

    & span:nth-child(1)::before
      position: absolute
      content: ''
      width: 20%
      height: 100%
      margin-left: -50px
      border-left: 10px solid #fff

  & h2
    color: #fff
    padding-left: 18.8%


// 문제 부분
.question-list
  position: absolute
  display: flex
  flex-direction: row
  list-style: none
  background: #ffffff
  box-shadow: 10px 10px 20px rgb(73, 80, 130)
  border-radius: 2px
  padding: 5px
  top: 30%
  right: 0
  bottom: 0
  left: 0
  margin: auto
  width: 70%
  height: 100px
  color: $dark-purple

  & li
    cursor: pointer
    display: block
    font-size: 1.7rem
    width: 50%
    height: auto
    text-align: center
    padding: 30px
    position: relative

  & li::after
    content: ''
    position: absolute
    top: 0
    right: -10px
    width: 1px
    height: 100%
    background: #c9d5dd
    box-shadow: 2px 2px 8px #7c8aaa
    margin: 0 5px

  & li:nth-child(4)::after
    background: none



.btn-group
  position: fixed
  background: #fff
  display: flex
  flex-direction: row
  justify-content: center
  position: absolute
  bottom: 0
  right: 0
  width: 100%
  transition: all 0.3s ease-out

  // [ 버튼 헤딩 ]
  & .button-heading
    position: absolute
    left: -999em
  // [ 버튼 ]
  & button
    color: $dark-purple
    opacity: 1
    background: rgba(#ffffff, 0)
    border: 0
    margin-bottom: 2px
    width: auto
    height: auto
    padding: 20px
    font-size: 2rem

.btn-group:hover
  transform: translateX(0)

.active
  background: rgba(252, 35, 205, 0.54)

.second
  background: rgba(58, 46, 193, 0.54)

.modal-good
  position: absolute
  top: 50%
  left: 50%
  font-size: 20px
  animation-name: good
  animation-duration: 3s
  animation-fill-mode: forwards

@keyframes good
  0%
    transform: scale(0, 0)
    opacity: 1
    color: #262534

  100%
    transform: scale(5, 5)
    color: #20a7b0
    opacity: 0
    font-weight: bold
