@import "animation"


$dark-purple: rgb(53, 57, 87)

*
  margin: 0
  padding: 0
  box-sizing: border-box

.wrapper
  position: relative
  height: 100vh

// [ input요소와 버튼그룹 ]
.input-group
  position: absolute
  top: 30%
  transform: translateX(50%)

  & label
    position: absolute
    left: -999em

  & #input-todo
    position: relative
    border: 1px solid $dark-purple
    width: 500px
    height: 50px
    border-radius: 10px 0 0 10px
    font-size: 20px
    text-indent: 20px

  & .input-btn
    color: #ffffff
    position: absolute
    top: 0
    left: 100%
    width: 200px
    height: 50px
    font-size: 20px
    background: $dark-purple
    cursor: pointer
    border-radius: 0 10px 10px 0
    border: 1px solid $dark-purple

// [ 리스트 그룹 ]
.list-group
  position: absolute
  width: 700px
  top: 40%
  transform: translateX(50%)

  & .todolist
    list-style: none
    font-size: 40px
    color: $dark-purple

  & .chkbox_item
    width: 30px
    height: 30px

//[ 애니메이션 ]
.modal-good
  position: absolute
  top: 50%
  left: 50%
  font-size: 20px
  animation-name: good
  animation-duration: 0.8s
  animation-fill-mode: forwards

  // transition: all 0.7s

// input[type="checkbox"]:checked + .modal-good
//   color: rgb(194, 22, 110)
//   font-weight: bold
