<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Let's learn JS</title>
  <link rel="stylesheet" href="../css/grammer-game.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900" rel="stylesheet">
  <script src="../../LIBRARY/helper.js" charset="utf-8"></script>
</head>
<body>
  <div class="wrapper">
    <header role="banner">
      <h1>DOM API GAME</h1>
      <h2>Let's learn about DOM API!</h2>
    </header>
    <div class="btn-group">
      <h1 class="button-heading">buttons</h1>
      <button type="button" class="append-btn">append</button>
      <button type="button" class="prepend-btn">prepend</button>
      <button type="button" class="after-btn">after</button>
      <button type="button" class="replace-btn">replace</button>
    </div>

    <div class="txt-group">
      <ul class="replace-list">
        <li>parentNode</li>
        <li>.replaceChild</li>
        <!-- <li>.parentNode</li> -->
        <li>(newChild</li>
        <li>,oldChild);</li>
      </ul>
    </div>
  </div>
  <script src="../js/grammer-game.js"></script>
</body>
</html>
